name: Policy Tests

on:
  workflow_dispatch:

  pull_request:
    paths:
      - '.github/workflows/policy-tests.yml' ## self-trigger
      - 'catalog/policies/**'

jobs:
  opa:
    name: opa-tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Run opa tests
      uses: b4b4r07/action-opa@master
      with:
        coverage: 40%
        files: 'catalog/policies/**'
      id: opa
    - name: Post opa command result to GitHub comment
      uses: b4b4r07/action-github-comment@master
      if: steps.opa.outputs.result
      with:
        body: |
          ## opa test result
          ```
          ${{ steps.opa.outputs.result }}
          ```
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        LOG: trace
